<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxz.mapper.EmployeeMapper">
    <select id="query" resultType="com.gxz.pojo.Employee">
        select * from t_emp
        <!-- 动态添加where关键字：1.内部有任一if满足条件添加where，否则不添加，2.自动去掉多余的and和or-->
        <where>
            <!-- 通过if语句实现动态sql语句,test为true将标签内的sql进行拼接-->
            <!-- 语法：参数 比较符号 值 and|or 参数 比较符号 值),不推荐直接使用符号，大于：&gt; 小于 &lt;-->
            <if test="name != null">
                emp_name = #{name}
            </if>
            <if test="salary != null and salary &gt; 100">
                emp_salary= #{salary}
            </if>
        </where>
    </select>
</mapper>