<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gxz.mapper.OrderMapper">

<!-- 对单的多表查询:resultMap-->
    <resultMap id="orderMap" type="com.gxz.pojo.Order">
        <id column="order_id" property="orderId"/>
        <result column="order_name" property="orderName"/>
        <result column="customer_id" property="customerId"/>
        <!-- 给对象赋值association，实现多表查询的属性映射-->
        <association property="customer" javaType="com.gxz.pojo.Customer">
        <!-- property:对象的属性名 javaType：对象的类名-->
            <id column="customer_id" property="customerId"/>
            <result column="customer_name" property="customerName"/>
        </association>
    </resultMap>
    <select id="queryByOrderId" resultMap="orderMap">
        select * from t_order join t_customer on t_order.customer_id=t_customer.customer_id where order_id=#{id};
    </select>
</mapper>